{% extends "base.html" %}
{% block extratitle %}- A quick example of using google apis to create a graph map{% endblock %}
{% block content %}
<h1>Google Spreadsheet API, Python, Google Charts API Example</h1>
<p>This is a small example of using the <a href="http://code.google.com/apis/spreadsheets/overview.html" title="Google Spreadsheets APIs and Tools - Google Code">google spreadsheet API</a> and the <a href="http://code.google.com/apis/chart/" title="Developer&#39;s Guide - Google Chart API - Google Code">google charts API</a> to do a small, quick and easy data hack.  We've used the <a href="http://www.guardian.co.uk/data-store" title="Data Store: Facts you can use | Data Store | guardian.co.uk">Guardian Data Store</a> for some data in this example (specifically the <a href="http://www.guardian.co.uk/news/datablog/2009/may/20/broadband-internetphonesbroadband">OECD Broadband Data</a>), but there's no reason why you couldn't slightly adjust the code and use it on your own data.</p>
  <img src="{{ europeurl }}">
  <img src="{{ worldurl }}">
<p>You can see the <a href="http://pastie.org/486164">code that produces this page at pastie</a>.  You can download it <a href="http://github.com/markng/hacks/tree/master">from github</a></p>
{% endblock %}