{% extends "base.html" %}
{% block content %}
  <h1>Hacks</h1>
  <p>This is an area to show some simple hacks that journalists would be able to use on a day to day basis.  You can find my actual website at <a href="http://www.markng.co.uk/">www.markng.co.uk</a></p>
  <p>The source code that runs the hacks on this site can be <a href="http://github.com/markng/hacksforhacks/tree/master">found on github here.</a></p>
  <ul>
    <li><a href="{% url broadband-map %}">Hacks with OECD broadband data from the guardian data store</a></li>
  </ul>
{% endblock %}